@model AdminApplicationService.ViewModel.BannerViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
                <form id="orderform" name="orderform">
                    <!-- Default Basic Forms Start -->
                    <div class="pd-20 card-box mb-30">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4 class="text-blue h4">Add BannerImages</h4>
                            </div>
                        </div>                                            
                                                
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Choose Product Image</label>
                            <div class="col-sm-12 col-md-10">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="ImagePath" name="ImageFile">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                        </div>

                        
                </form>
                <div class="col-md-12 col-sm-12 mb-30">


                    <div class="btn-list">
                        <button type="submit" value="Create" class="btn btn-success btn-lg btn-block">Save</button>

                    </div>
                </div>

            </div>
        </div>
    </div>       